* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    align-items: center;
}

p {
    font-size: 22px;
}

#logo {
    display: inline-flex;
    justify-content: flex-start;
    dborder: 1px solid green;
    width: 49%;
    height: 50px;
}

#logo img {
    margin-left: 10px;
}

#nav {
    display: inline-flex;
    justify-content: flex-end;
    dborder: 1px solid red;
    width: 49%;
    align-items: center;
    height: 50px;
    text-decoration: underline;
}

#nav p {
    margin-left: 10px;
    margin-right: 10px;
}

#mission {
    height: 700px;
    dborder: 5px solid saddlebrown;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 1200px;
    background-image: url('resources/images/background.jpg');
    margin-left: auto;
    margin-right: auto;
    
}

#mission-text {
    height: 100px;
    width: 1200px;
}

header {
    border-bottom: 1px solid seashell;
    position: fixed;
    height: 69px;
    width: 100%;
    display: flex;
    z-index: 1;
    top: 0px;
}

#tea-month {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    flex-direction: column;
    dborder: 5px solid orchid;
    margin-left: auto;
    margin-right: auto;
}

#tea-month-items{
    display: flex;
    width: 1000px;
    justify-content: center;
    dborder: 5px solid saddlebrown;
    flex-direction: row;
    flex-wrap: wrap;
}

.monthly-item {
    margin: 10px;
    height: 250px;
    width: 300px;
    dborder: 5px solid green;
}

.monthly-item h3{
    margin-top: 10px;
}