* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    text-align: center;
    align-items: center;
}

p {
    font-size: 22px;
    opacity: 0.9;
}

h1, h2, h3, h4, h5 {
    opacity: 0.9;
}

body{
    opacity: 0.9;
}


#logo {
    display: inline-flex;
    justify-content: flex-start;
    width: 49%;
    height: 50px;
}


#logo img {
    margin-left: 10px;
}

#nav {
    display: inline-flex;
    justify-content: flex-end;
    width: 49%;
    align-items: center;
    height: 50px;
    text-decoration: underline;
}

#nav p {
    margin-left: 10px;
    margin-right: 10px;
}

#locations{
    height: 500px;
    background-image: url('resources/images/img-locations-background.jpg');
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#location-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.location {
    opacity: 1 !important;
    width: 300px;
    height: 200px;
    margin: 15px 20px 0px 20px;
}

#mission {
    height: 700px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 1200px;
    background-image: url('resources/images/background.jpg');
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
}

#location-text {
    background-color: transparent;
    position: absolute;
    margin-bottom: 240px;
    z-index: 10;
}

#mission-text {
    height: 100px;
    width: 1200px;
}

header {
    border-bottom: 1px solid seashell;
    position: fixed;
    height: 69px;
    width: 100%;
    display: flex;
    z-index: 1;
    top: 0px;
}

#tea-month {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#tea-month-items{
    display: flex;
    width: 1000px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.monthly-item {
    margin: 10px;
    height: 250px;
    width: 300px;
}

.monthly-item h3{
    margin-top: 10px;
}

footer h5{
    text-align: left;
    margin-left: 20px;
}