* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

#logo {
    display: inline-flex;
    justify-content: flex-start;
    dborder: 1px solid green;
    width: 49%;
    height: 50px;
}

#logo img {
    margin-left: 10px;
}

#nav {
    display: inline-flex;
    justify-content: flex-end;
    dborder: 1px solid red;
    width: 49%;
    align-items: center;
    height: 50px;
    text-decoration: underline;
}

#nav p {
    margin-left: 10px;
    margin-right: 10px;
}

#test {
    height: 2500px;
    border: 1px solid saddlebrown;
}

header {
    border-bottom: 1px solid seashell;
    position: fixed;
    height: 69px;
    width: 100%;
    display: flex;
    z-index: 1;
}